.gameImg img {
    height: auto;
    width: 100%;
}

main {
    margin-top: 55rem;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gameImg,
.gameInfo {
    text-align: left;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameInfo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.gameInfo div {
    background-color: #433242;
    margin: 1rem;
    border: 1px solid #c313b7;
    flex: 1 1 300px; 
    padding: 1rem;
    box-sizing: border-box;
}

/* Responsive Design */
@media (max-width: 768px) {
    .gameInfo {
        flex-direction: column;
        align-items: center;
    }

    .gameInfo div {
        flex: 1 1 100%; 
    }
}
